assignments/assign_asciiwvd.json
assignments/assign_mydefault.json
Deploy/scripts/import-vditech.ps1
Deploy/scripts/import-wvdascii.ps1
Deploy/scripts/run.config.vditech.json
Deploy/scripts/run.confiwvdascii.json
Deploy/scripts/assign-vditech.ps1
Deploy/scripts/assign-wvdascii.ps1
assignments/assign_mydefault.json
